<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DigiSearch</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <header></header>
    <main>
        <form action="/result">
            <label>Search by Name or Level<input type="text" name="keyword" id=""></label>
            <label>Name<input type="radio" name="choice" value="name"></label>
            <label>Level<input type="radio" name="choice" value="level"></label>
            <button>Search</button>
        </form>
    </main>
    <footer></footer>
</body>
</html>